.product {
    display: flex;
    flex-direction: column;
    /* border: 1px solid var(--tg-theme-button-color); */
    /* border-radius: 20px; */
    padding: 15px 5px 5px;
    /* width: 170px; */
    width: 100%;
    margin: auto;
    color: white;
    /* margin-bottom: 10px; */
    padding-top: 32px;
}

.product_info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 225px;
}

.product_name_weight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.85);
    background: rgba(7, 7, 7, 0.55);
    
}

.product_header{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 30px; */
    background: rgba(14, 18, 21, 0.80);
    color: #EAEDF0;
    text-align: center;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;

}

.left_block_content{
    lex: 0 1 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}
.left_block_content img{
    width: 90%;
    height: auto;
    object-fit: cover;
}

.product_info_price_wrap{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 5px;

}
.product_price_item{
    display: flex;
    flex-direction: column;
    max-width: 60px;
    width: 30%;
    border: 1px solid #000;
    /* background-color: #FFDEDE;; */
    cursor: pointer;
    /* gap: 5px; */
    border-radius: 10px;
    overflow: hidden;
    /* padding: 0 10px; */

}




.product_price_item p{
        text-align: center;
        font-family: Inter;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 5px 10px;

}

.product_price_item_weight{
    background: #FFF;
    color: rgba(14, 18, 21, 0.90);
}
.product_price_item_price{
    background: rgba(14, 18, 21, 0.90);
    color: #fff;
}

.product_price_item_unavailable{
    background-color: #707070;;
}

.product_price_item:hover{
    background-color: #b5e6fc;;
    /* filter: drop-shadow(0px 0px 3px rgba(194, 232, 248, 0.9)); */
}

.product_price_item_active{
    background-color: #419FD9;
    border: 1px solid #419FD9;
    /* filter: drop-shadow(0px 0px 3px rgba(16, 177, 246, 0.90)); */
}
.product_price_item_active .product_price_item_weight{

}

.product_price_item_active .product_price_item_price{
    background: #419FD9;
}

.product_price_item_unavailable .product_price_item_weight{
    background-color: #b1b3b4;
}
.product_price_item_unavailable .product_price_item_price{
    background-color: #212527;
}



.product_price_item{

}


.product_info_price{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.product_pay_wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.product_pay_item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    background: #40A7E3;
    box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 0.90) inset;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.70));
    padding: 5px 20px;
    border-radius: 10px;
    p{
        color: #FFF;
        text-align: center;
        /* Medium */
        font-family: Roboto;
        font-size: 8px;
        font-style: normal;
        font-weight: 500;
        line-height: 9px; /* 112.5% */
        letter-spacing: 0.08px;
    }
}

.product_pay_item button:hover{
    background-color: #b5e6fc;;
}

.product_pay_var{
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.product_pay_pacifier{
    background: transparent;
    border: none;
    width: 24px;
    height: 100%;
    /* margin-left: 2px; */
    cursor: pointer;
}
.product_pay_pacifier img{
    margin-left: 2px;
}



.right_block_component{
    flex: 0 1 60%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 250px;
    /* justify-content: space-between; */
}

.img {
    width: 100%;
    background: lightgray;
    height: 100px;
    margin: 0 auto;
    background: var(--tg-theme-button-color);
}

.description {
    position: relative;
    font-size: 0.8em;
    border: 1px solid rgba(0, 0, 0, 0.85);
    background: rgba(7, 7, 7, 0.55);
    height: 50%;
    padding: 5px 10px;
    overflow: hidden;
}

.description_top{

}

.resize-handle-top{
    position: absolute;
    bottom: -2px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.resize-handle-top span{
    width: 60px;
    height: 4px;
    border-radius: 8px;
    background-color: #888888;
    cursor: n-resize;
}

.resize-handle-bottom{
    position: absolute;
    top: -2px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.resize-handle-bottom span{
    width: 60px;
    height: 4px;
    border-radius: 8px;
    background-color: #888888;
    cursor: n-resize;
}



.add-btn {
    width: 100%;
}
